{% extends "base.html" %}
{% block title %}Show Patient Information{% endblock %}

{% block content %}

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}



<script>
    var chart;

/**
 * Request data from the server, add it to the graph and set a timeout
 * to request again
 */
function requestData() {
    $.ajax({
        url: '/live-data-new',
        success: function(data) {
            condition = data.condition;
            var cond = 0;
            if (condition == 'Safe') {
                cond = '100';
            } else {
                cond = '50';
            } 


            spo2_series = [data.timestamp, data.spo2];
            temp_series = [data.timestamp, data.temperature];
            pulse_series = [data.timestamp, data.pulse];
            var series = chart.series[0],
            shift = series.data.length > 20; 

            
            chart.series[0].addPoint(spo2_series, true, shift);
            chart.series[1].addPoint(temp_series, true, shift);
            chart.series[2].addPoint(pulse_series, true, shift);


            // get div by class name
            var div = document.getElementsByClassName('Patient-data')[0];

            // set the inner html of the div
            div.innerHTML = "";
            div.innerHTML = "<h3>Patient's Data </h2>";
            div.innerHTML += data.patient_data + "<br>";  
            div.innerHTML += "<strong>Doctor Info :</strong> " + data.doctor_data + "<br>";
            div.innerHTML += "<strong>SPO2 :</strong> " + data.spo2 + "<br>";
            div.innerHTML += "<strong>Temperature :</strong> " + data.temperature + "<br>";
            div.innerHTML += "<strong>Pulse :</strong> " + data.pulse + "<br>";
            div.innerHTML += "<strong>Condition:</strong> " + data.condition + "<br>";



            // call it again after one second
            setTimeout(requestData, 1000);
        },
        cache: false
    });
}

$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'data-container',
            defaultSeriesType: 'spline',
            events: {
                load: requestData
            }
        },
        title: {
            text: 'Patient Data'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Value',
                margin: 80
            }
        },
        series: [{
            name: 'SPO2 Levels',
            data: []
        } , {
            name: 'Temperature',
            data: []
        },
        {
            name: 'Pulse',
            data: []
        }]
    });
});
</script>

<div class="Patient-data">
  
</div>

<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">

      <div class="container-fluid" id="data-container"></div>

    </div>
</div>



<style>
    div{
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }

</style>








{% endblock %}


 

 