global
    log 127.0.0.1 local0 notice
    maxconn 2000
    user haproxy
    group haproxy

defaults
	log     global
	mode    http
	option  httplog
	option  dontlognull
	retries 3
	option redispatch
	timeout connect  5000
	timeout client  10000
	timeout server  10000

frontend deployer_service
	bind 127.0.0.1:9898
	default_backend deployers
backend deployers
	balance roundrobin
    {% for s in servers %}
    server {{s.user}} {{s.ip}}:9898 check
	{% endfor %}