<!DOCTYPE html>
<html>

<head>
    <title>Schedule App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <h1 style="margin: 50px;">Scheduler UI</h1>
    <form action="/schedule" method="post" style="margin: 50px;">
        <div class="form-group">
            <label for="app_name">Application name</label>
            <select class="form-control form-control-lg" id="app_name" name="app_name">
                {% for app in app_list %}
                {% for key, value in app.items() %}
                <option value="{{key}}">{{value}}</option>"
                {% endfor %}
                {% endfor %}
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectoption" id="random" value="random" onclick = "getloc()">
            <label class="form-check-label" for="random">
                Select Random sensors and controllers based on location
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectoption" id="specific" value="specific" onclick = "getapp()">
            <label class="form-check-label" for="specific">
                Select specific sensors and controllers
            </label>
        </div>
        <div class="form-group" id="sensor_locs">
            <!-- <label for="my_locs">Location</label>
            <select class="form-control form-control-lg" id="my_locs" name="my_locs" multiple>
                {% for loc in locs %}
                <option value="{{loc}}">{{loc}}</option>"
                {% endfor %}
            </select> -->
        </div>
        <div class="form-group" id="controller_locs">
            <!-- <label for="my_locs">Location</label>
            <select class="form-control form-control-lg" id="my_locs" name="my_locs" multiple>
                {% for loc in locs %}
                <option value="{{loc}}">{{loc}}</option>"
                {% endfor %}
            </select> -->
        </div>
        <div class="form-group" id="sensors_list">
            <!-- <label for="sensor_loc">Sensor Type and Location</label>
            <select class="form-control form-control-lg" id="my_sensors" name="my_sensors" multiple>
                {% for loc in sensors %}
                <option value="{{loc}}">{{loc}}</option>"
                {% endfor %}
            </select> -->
        </div>
        <div class="form-group" id="controllers_list">
            <!-- <label for="sensor_loc">Sensor Type and Location</label>
            <select class="form-control form-control-lg" id="my_sensors" name="my_sensors" multiple>
                {% for loc in sensors %}
                <option value="{{loc}}">{{loc}}</option>"
                {% endfor %}
            </select> -->
        </div>
        <div class="form-group">
            <label for="datetime">Start Date and Time</label>
            <input type="datetime-local" id="starttime" name="starttime">
        </div>
        <div class="form-group">
            <label for="datetime">End Date and Time</label>
            <input type="datetime-local" id="endtime" name="endtime">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
<script>

    document.getElementById("app_name").selectedIndex = -1;
    document.getElementById("random").checked = false;
    document.getElementById("specific").checked = false;
    //document.getElementById('app_name').onchange = function () {
    //document.getElementById("specific").checked =  function(){
    function getapp(){
        var e = document.getElementById("app_name");
        var app_id = e.options[e.selectedIndex].value;
        //var app_id = this.value;

        // console.log(app_id)
        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                'app_id': app_id,
            }),
            contentType: 'application/json; charset=utf-8',
            url: "{{ url_for('get_app_contract') }}",
            success: function (data) {

                $("#sensors_list").empty();
                $("#controllers_list").empty();
                $("#sensor_locs").empty();
                $("#controller_locs").empty();

                data = JSON.parse(data)

                sensor = data['sensor']
                controller = data['controller']

                $('#sensors_list').append('<h3> Select sensors </h1>');
                for (var i = 0; i < sensor.length; i++) {


                    var sensor_type = sensor[i].sensor_type
                    var count = parseInt(sensor[i].count)
                    var sensor_list = sensor[i].sensors_list

                    if (count == 1) {
                        $('#sensors_list').append('<label for="sensor_loc">Function name: ' + sensor_type + "<br>" + '</label>\
                    <select class="form-control form-control-lg" id='+ i + '_sensor name="my_sensors" count=' + count + ' multiple>');
                        var id_s = i + "_sensor"
                        for (var j = 0; j < sensor_list.length; j++) {
                            $('#' + id_s).append(
                                "<option value=" + sensor_type + "-" + sensor_list[j][1] + '-' + sensor_list[j][0] + '>' + sensor_list[j][0] + "-" + sensor_list[j][1] + "-" + sensor_list[j][2] + '</option>');
                        }
                    } else {
                        $('#sensors_list').append('<label for="sensor_loc">Function name: ' + sensor_type + "<br>Select only " + count + " sensors" + '</label>\
                    <select class="form-control form-control-lg" id='+ i + '_sensor name="my_sensors" count=' + count + ' multiple>');
                        var id_s = i + "_sensor"
                        for (var j = 0; j < sensor_list.length; j++) {
                            $('#' + id_s).append(
                                "<option value=" + sensor_type + "-" + sensor_list[j][1] + '-' + sensor_list[j][0] + '>' + sensor_type + "-" + sensor_list[j][1] + '</option>');
                        }
                    }
                }

                $('#controllers_list').append('<h3> Select controllers </h1>');
                for (var i = 0; i < controller.length; i++) {


                    var controller_type = controller[i].controller_type
                    var count = parseInt(controller[i].count)
                    var controller_list = controller[i].controllers_list

                    if (count == 1) {
                        $('#controllers_list').append('<label for="controller_loc">controller Type: ' + controller_type + "<br>Select only " + count + " controller" + '</label>\
                            <select class="form-control form-control-lg" id='+ i + '_controller name="my_controllers" count=' + count + ' multiple>');
                        var id_s = i + "_controller"
                        for (var j = 0; j < controller_list.length; j++) {
                            $('#' + id_s).append(
                                "<option value=" + controller_type + "-" + controller_list[j][1] + '-' + controller_list[j][0] + '>' + controller_type + "-" + controller_list[j][1] + '</option>');
                        }
                    } else {
                        $('#controllers_list').append('<label for="controller_loc">controller Type: ' + controller_type + "<br>Select only " + count + " controllers" + '</label>\
                            <select class="form-control form-control-lg" id='+ i + '_controller name="my_controllers" count=' + count + ' multiple>');
                        var id_s = i + "_controller"
                        for (var j = 0; j < controller_list.length; j++) {
                            $('#' + id_s).append(
                                "<option value=" + controller_type + "-" + controller_list[j][1] + '-' + controller_list[j][0] + '>' + controller_type + "-" + controller_list[j][1] + '</option>');
                        }
                    }
                }
            }
        });
    }
    //document.getElementById("random").checked =  function(){
    function getloc(){
        var e = document.getElementById("app_name");
        var app_id = e.options[e.selectedIndex].value;
        $.ajax({
            type: 'POST',
            data: JSON.stringify({
                'app_id': app_id,
            }),
            contentType: 'application/json; charset=utf-8',
            url: "{{ url_for('get_locations') }}",
            success: function (data) {
                console.log("success")
                $("#sensors_list").empty();
                $("#controllers_list").empty();
                $("#sensor_locs").empty();
                $("#controller_locs").empty();
                console.log(data)
                data = JSON.parse(data)
                sensor_locs = data['sensor_locs']
                controller_locs = data['controller_locs']
                console.log(controller_locs[0])
                //$('#sensor_locs').append('<h3> Select Sensor Location </h1>');
                $('#sensor_locs').append('<label for="sensor_locs">Sensor Location</label>' +
                    '<select class="form-control form-control-lg" id="sensors_locs" name="sensor_locs">');
                        console.log("here1")
                        var id_s = "sensors_locs"
                        console.log(sensor_locs)
                        for (var j = 0; j < sensor_locs.length; j++) {
                            $('#' + id_s).append(
                                '<option value=' + sensor_locs[j] + '>' + sensor_locs[j] + '</option>');
                        }
                console.log("here")
                //$('#controller_locs').append('<h3> Select Controller Location </h1>');
                $('#controller_locs').append('<label for="controller_locs">Controller Location</label>' +
                    '<select class="form-control form-control-lg" id="controllers_locs" name="controller_locs">');
                        var id_s = "controllers_locs"
                        for (var j = 0; j < controller_locs.length; j++) {
                            $('#' + id_s).append(
                                '<option value=' + controller_locs[j] + '>' + controller_locs[j] +' </option>');
                        }
            }
        });
    }
</script>

</html>