import requests
import json
{% for sensor in sensors %}
def {{sensor.function}}():
    url = "{{sensor_api}}/data/{{sensor.sensor_id}}"
    response = requests.get(url)
    data = json.loads(response.text)
    return data
{% endfor %}